.footer-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: #c7c2c2;
  padding: 40px;
  border-radius: 16px;
  margin: 50px auto;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.footer-box h5 {
  margin-bottom: 10px;
}
.footer-box .hr-footer-mobile {
  display: none;
}
.footer-box ul {
  list-style: none;
  padding: 0;
  margin-top: 35px;
  min-width: 150px;
  font-size: 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer-box ul .arrow {
  display: none;
  float: right;
  transition: transform 0.3s;
}
.footer-box ul .arrow.active {
  transform: rotate(180deg);
}
.footer-box ul .about-us-p,
.footer-box ul .info-p,
.footer-box ul .ur-account-p,
.footer-box ul .customer-service-p,
.footer-box ul .contact-us-p {
  display: block;
}
.footer-box ul .contact-us-last {
  margin-left: 10px;
}
.footer-box ul .info-p,
.footer-box ul .ur-account-p,
.footer-box ul .customer-service-p,
.footer-box ul .contact-us-p {
  font-size: 12px;
}
.footer-box ul li .fa-solid,
.footer-box ul li .fas,
.footer-box ul li .fa-regular,
.footer-box ul li .far {
  color: #007bff;
  margin-right: 5px;
}
.footer-box ul li:not(:first-child) {
  margin-bottom: 5px;
}
.footer-box ul li a {
  text-decoration: none;
  color: #333;
}
.footer-box ul li a:hover {
  color: #007bff;
}
.footer-box .footer-bottom {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-box .footer-bottom .fa-cc-paypal,
.footer-box .footer-bottom .fa-tiktok,
.footer-box .footer-bottom .fa-facebook-f,
.footer-box .footer-bottom .fa-instagram {
  font-size: 25px;
  margin-top: -5px;
}
.footer-box .footer-bottom .ml {
  margin-left: 15px;
}
.footer-box .footer-bottom .social-media {
  margin-right: 70px;
}
@media (max-width: 992px) {
  .footer-box {
    display: flex;
    flex-direction: column !important;
    gap: 10px;
  }
  .footer-box .hr-footer-mobile {
    display: block;
  }
  .footer-box h5 {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .footer-box ul {
    flex: unset;
    margin-top: 0;
  }
  .footer-box ul .about-us-p,
  .footer-box ul .info-p,
  .footer-box ul .ur-account-p,
  .footer-box ul .customer-service-p {
    display: none;
  }
  .footer-box ul .about-us-p,
  .footer-box ul .info-p,
  .footer-box ul .ur-account-p,
  .footer-box ul .customer-service-p,
  .footer-box ul .contact-us-p {
    font-size: 11px;
  }
  .footer-box ul .about-us-title,
  .footer-box ul .info-title,
  .footer-box ul .ur-account-title,
  .footer-box ul .customer-service-title {
    user-select: none;
    cursor: pointer;
  }
  .footer-box ul .arrow {
    display: inline-block;
    margin-bottom: -15px;
  }
  .footer-box .footer-bottom {
    display: flex;
    flex: unset;
    flex-direction: column;
    margin-top: 11px;
  }
  .footer-box .footer-bottom .delivery-and-payment .fa-cc-paypal {
    margin-left: 0px;
    padding: 0;
    margin-top: 3px;
  }
  .footer-box .footer-bottom .social-media {
    flex-direction: row;
    gap: 10px;
    margin-top: 3px;
  }
}
@media (max-width: 992px) {
  .comon-margin-sm {
    width: 95%;
    margin: 50px auto;
  }
}
