.slider {
  max-width: 1100px;
  margin: 30px auto;
}
.slider__item {
  position: relative;
  text-align: center;
}
.slider__image {
  width: 1100px;
  height: 330px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 20px;
}
.slider__title,
.slider__text,
.slider__btn,
.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  color: #fff;
}
.slider__text,
.slider__btn {
  bottom: 50px;
}
.slider__title,
.slider__text {
  left: 40px;
  text-align: start;
}
.slider__title {
  bottom: 90px;
  font-size: 35px;
  font-weight: bold;
}
.slider__text {
  font-size: 10px;
}
.slider__text p {
  margin-bottom: 5px;
}
.slider__btn {
  font-size: 13px;
  right: 40px;
  padding: 5px 5px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.slider__btn:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  scale: 1.05;
}
.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.slick-prev i,
.slick-next i {
  color: white;
  font-size: 20px;
}
.slick-prev {
  left: 40px;
}
.slick-next {
  right: 40px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(0.6);
}
.slick-dots li.slick-active button {
  background: #fff;
  border: 3px solid #009dff;
  width: 22px;
  height: 22px;
  margin-top: -6px;
  margin-left: -6px;
  box-sizing: border-box;
}
.slick-dots li.slick-active button::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #009dff;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .slider__title {
    bottom: 95px;
    font-size: 27px;
  }
  .slider__text {
    width: 70%;
  }
}
@media (max-width: 578px) {
  .slider__title,
  .slider__text,
  .slider__btn {
    left: 15px;
  }
  .slider__title {
    bottom: 178px;
    font-size: 22px;
  }
  .slider__text {
    bottom: 75px;
    font-size: 12px;
    width: 40%;
  }
  .slider__btn {
    width: 80px;
    font-size: 10px;
    padding: 5px 5px;
  }
}
@media (max-width: 578px) {
  .slider__title {
    bottom: 168px;
  }
  .slider__text {
    font-size: 10px;
  }
}
