


.slider {
  max-width: 1100px;
  margin: 30px auto;
  &__item {
    position: relative;
    text-align: center;
  }
  
  &__image {
    width: 1100px;
    height: 330px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  
  &__title,&__text,&__btn,.slick-prev,
  .slick-next{
    position: absolute;
    color: #fff;
  }
  &__text,&__btn{
    bottom: 50px;
  }
  &__title,&__text{
    left: 40px;text-align: start;
  }
  &__title {
    bottom: 90px;
    font-size: 35px;
    font-weight: bold;
  }

  &__text {  
    p{margin-bottom: 5px;}
    font-size: 10px;   
  }

  &__btn {    font-size: 13px;
    right: 40px;
    padding: 5px 5px;
    background-color: transparent;    
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
    
    &:hover {
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3) ;
      scale: (1.05);
    }
  }
}


.slick-prev,
.slick-next {
  
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;

  i {
    color: white;
    font-size: 20px;
  }
}

.slick-prev {
  left: 40px;
}

.slick-next {
  right: 40px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}


.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  list-style: none;
  
  li {
    margin: 0 5px;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: black;
      border: 0;
      padding: 0;
      cursor: pointer;
      position: relative;
      outline: none;
      transition: transform 0.15s ease;
      transform: scale(0.6);
    }

    &.slick-active button {
      background: #fff;
      border: 3px solid #009dff;
      width: 22px;
      height: 22px;
      margin-top: -6px;
      margin-left: -6px;
      box-sizing: border-box;

      &::after {
        content: "";
        position: absolute;
        inset: 4px;
        background: #009dff;
        border-radius: 50%;
      }
    }
  }
 
}

@media(max-width:768px){
  .slider {
    &__title {
      bottom: 95px;
      font-size: 27px;      
    }
    &__text {       
       width: 70%;  
    } 
  }
}
@media(max-width:578px){
  .slider {


    &__title,&__text,&__btn{
      left: 15px;
    }
    &__title {
      bottom: 178px;
      font-size: 22px;
      
    }
    &__text {  
      bottom: 75px;
      font-size: 12px; width: 40%;  
    }

    &__btn {    
      width: 80px;
      font-size: 10px;      
      padding: 5px 5px;   
   
    }
  } // koniec .slider
}
@media(max-width:578px){
  .slider {

    &__title {
      bottom: 168px;        
    }
    &__text {      
      font-size: 10px; 
    }

   
  }
}
