#slider-section {
    width: 85%;
    margin: 50px auto;
  
    .multiple-items {
      position: relative;
    }
    
    slide:last-child {
       margin-right: 0; 
     }
    .slide {position: relative;
      text-align: center;
      padding: 10px;
      
      .slick-slide {width: 10px !important;
        margin: 0 10px; 
      }
      
      .slick-list {
        margin: 0 -10px; 
      }
      .on-slide-bestseler,.on-slide-promocja,.on-slide-nowosc {
        position: absolute;
        
        left: 20px;
        font-size: 11px;
        color: #fff;
        text-align: left;
        margin-bottom: 2px;
        padding: 2px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        text-shadow: 1px 1px 5px rgba(0,0,0,0.7);z-index: 11111;
      }
      .on-slide-bestseler,.on-slide-promocja {
        top: 20px;
      }
      .on-slide-bestseler {        
        background-color: purple;       
      }
      .on-slide-promocja {       
       background-color: rgb(255, 10, 10);      
      }
      .on-slide-nowosc {
        top: 50px;   
        background-color: rgb(18, 176, 0);
      }
      img {
        width: 250px;
        height: 380px;
        object-fit: cover;
        border-radius: 12px;       
      }
      .hover-img {
        width: 250px;
        height: 380px;
        object-fit: cover;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        transform: translate(4%,2.45%);
      }
    
      &:hover .hover-img {
        opacity: 1;
      }
    
      &:hover .default-img {
        opacity: 0;
      }
      .slide-icon {
        position: absolute;
        top: 380px;
        right: 40px;
        display: inline-flex;            
        align-items: center;
        justify-content: center;   
        width: 40px;                     
        height: 40px;
        border-radius: 50%;              
        background-color: #009dff;       
        color: #fff;                     
        font-size: 18px;               
        cursor: pointer;
        transition: all 0.3s ;
        display: none; 
        transform: color 0.3s;
            &hover{background-color: #0000ff;}
            }
      .slide-text {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 600;
        color: #333;
        text-align: left;
        margin-bottom: 0;
      }
  
      .slide-under-text,
      .slide-price {
        margin-bottom: 2px;
        text-align: left;
        font-size: 10px;
      }
    }
  
    .slick-next:before,
    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
  
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid white;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    }
  
    .slick-prev {
      left: 20px;
    }
  
    .slick-next {
      right: 20px;
    }
  
    .slick-prev i,
    .slick-next i {
      color: white;
      font-size: 20px;
    }

  
    
}

@media (max-width: 1299px) {
.slide-icon {
display: flex !important;
top: 320px !important;  
right: 60px !important;
transform: none !important;
}   .slick-next {
  right: 70px !important;
}
}
@media(min-width:768px)and(max-width:992px){
    .slide-icon {
        
        right: 180px !important;
        
    }  }
    @media(max-width:768px){
        #slider-section{width: 100%;
      margin-left: 50px;}.slide-icon {
       
          right: 100px !important;
         
        }  }
  @media (max-width:578px) {
    .slide-icon {
      display: flex !important;
      top: 320px !important;  
      right: 55% !important;
      transform: none !important;
    }
  }
  @media (max-width:400px) {
      .slide-icon {
          
          right: 105px !important;
          
        }
    }
    @media (max-width:450px) {
      .slide-icon {
       
        right: 140px !important;
       
      }
    }.promo-heading {
        position: relative;
        display: flex;                 
        justify-content: flex-start;   
        align-items: center;
        font-size: 24px;
        font-weight: 700;
      
        span {
          padding: 0 10px;
      
      }
      }
      