<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <footer class="footer-section" role="contentinfo" aria-label="Stopka strony">
    <div class="container">
        <div class="row">
                <div class="footer-box comon-margin-sm">
<div class="container"><div class="row">                   <ul class="about-us">
    <li class="about-us-title">
        <h5>O nas</h5>
        <span class="arrow" aria-hidden="true">▼</span>
    </li>
    <li class="about-us-p"><a href="#">Poznajmy się</a></li>
    <li class="about-us-p"><a href="#">Skontaktuj się z nami</a></li>
    <li class="about-us-p"><a href="#">Dołącz do nas</a></li>
</ul>
<hr class="hr-footer-mobile">

<ul class="info">
    <li class="info-title">
        <h5>Informacje</h5>
        <span class="arrow" aria-hidden="true">▼</span>
    </li>
    <li class="info-p"><a href="#">Regulamin</a></li>
    <li class="info-p"><a href="#">Polityka prywatności</a></li>
    <li class="info-p"><a href="#">Informacje o zwrotach</a></li>
</ul>
<hr class="hr-footer-mobile">

<ul class="ur-account">
    <li class="ur-account-title">
        <h5>Twoje konto</h5>
        <span class="arrow" aria-hidden="true">▼</span>
    </li>
    <li class="ur-account-p"><a href="#">Twoje konto</a></li>
    <li class="ur-account-p"><a href="#">Polityka prywatności</a></li>
    <li class="ur-account-p"><a href="#">Informacje o zwrotach</a></li>
</ul>
<hr class="hr-footer-mobile">

<ul class="customer-service">
    <li class="customer-service-title">
        <h5>Obsługa klienta</h5>
        <span class="arrow" aria-hidden="true">▼</span>
    </li>
    <li class="customer-service-p"><a href="#">Dostawa i płatności</a></li>
    <li class="customer-service-p"><a href="#">Wymiana</a></li>
    <li class="customer-service-p"><a href="#">Zwrot</a></li>
    <li class="customer-service-p"><a href="#">Reklamacje</a></li>
    <li class="customer-service-p"><a href="#">FAQ</a></li>
</ul>
<hr class="hr-footer-mobile">

<ul class="contact-us">
    <li class="contact-us-title"><h5>Skontaktuj się z nami</h5></li>
    <li class="contact-us-p">
        <i class="fa-solid fa-phone" aria-hidden="true"></i> 
        <a href="tel:+48123456789">(+48) 000 000 000</a>
    </li>
    <li class="contact-us-p">
        <i class="fa-regular fa-address-book burger-icon" aria-hidden="true"></i> 
        <a href="mailto:sklep@kontakt.com.pl">sklep@kontakt.com.pl</a>
    </li>
    <li class="contact-us-p contact-us-last">Jesteśmy do twojej dyspozycji</li>
    <li class="contact-us-p contact-us-last">od poniedziałku do piątku</li>
    <li class="contact-us-p contact-us-last">w godzinach 8:00 - 16:00</li>
</ul>

</ul>
<hr class="hr-footer-mobile">
<ul class="contact-us">
    <li class="contact-us-title"><h5>Skontaktuj się z nami</h5></li>
    <li class="contact-us-p"><i class="fa-solid fa-phone"aria-hidden="true"></i> <a href="tel:+48123456789" >(+48) 000 000 000</a></li>
    <li class="contact-us-p"> <a href="mailto:sklep@kontakt.com.pl" >
        <i class="fa-regular fa-address-book burger-icon"aria-hidden="true"></i> sklep@kontakt.com.pl</a></li>
    <li class="contact-us-p contact-us-last">Jesteśmy do twojej dyspozycji</li>
    <li class="contact-us-p contact-us-last">od poniedziałku do piątku</li>
    <li class="contact-us-p contact-us-last">w godzinach 8:00 - 16:00</li>
</ul>

<hr>
<div class="footer-bottom">  <div class="delivery-and-payment">
<h5 class="delivery-and-payment-title ">Dsotawa i płatności</h5>
<div class="row g-0">
<div class="col-4 "><a  href="https://www.instagram.com/" target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal"aria-hidden="true"></i></a></div>
<div class="col-4 "><a  href="https://www.facebook.com/"  target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal" ml aria-hidden="true"></i></a></div>
<div class="col-4 "><a  href="https://www.facebook.com/"  target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal" ml aria-hidden="true"></i></a></div>
<div class="col-4 "><a  href="https://www.instagram.com/" target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal" ml aria-hidden="true"></i></a></div>
<div class="col-4 "><a  href="https://www.facebook.com/"  target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal" ml aria-hidden="true"></i></a></div>
<div class="col-4 "><a  href="https://www.facebook.com/"  target="_blank" aria-label="Płatność PayPal"><i class="fa-brands fa-cc-paypal" ml aria-hidden="true"></i></a></div>
</div>

</div>
<hr class="hr-footer-mobile">
<div class="social-media ">
<h5 class="social-media-title">Social media</h5>
<a  href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"aria-label="true"></i></a>
<a  href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-tiktok ml"aria-label="true"></i></a>
<a  href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f ml"aria-label="true"></i></a>
</div></div></div></div>
                </div>

        </div>
    </div>
   </footer>
</body>
</html>