<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
                <div class="footer-box">
                    <ul class="about-us">
                        <li class="about-us-title">O nas</li>
                        <li class="about-us-p">Poznajmy się</li>
                        <li class="about-us-p">Skontaktuj się z nami</li>
                        <li class="about-us-p">Dołącz do nas</li>
                        </ul>
                    <ul class="info">
                      <li class="info-title">Informacje</li>
                      <li class="info-p">Regulamin</li>
                      <li class="info-p">Polityka prywatności</li>
                      <li class="info-p">Informacje o zwrotach</li>
                      </ul>
                    <ul class="ur-account">
                        <li class="ur-account-title">Twoje konto</li>
                        <li class="ur-account-p">Twoje konto</li>
                        <li class="ur-account-p">Polityka prywatności</li>
                        <li class="ur-account-p">Informacje o zwrotach</li>
                    </ul>
                    <ul class="customer-service">
                        <li class="customer-service-title">Obsługa klienta</li>
                        <li class="customer-service-p">Dostawa i płatności</li>
                        <li class="customer-service-p">Wymiana</li>
                        <li class="customer-service-p">Zwrot</li>
                        <li class="customer-service-p">Reklamacje</li>
                        <li class="customer-service-p">FAQ</li>
                    </ul>
                    <ul class="contact-us">
                        <li class="contact-us-title">Skontaktujsięznami</li>
                        <li class="contact-us-p"><i class="fa-solid fa-phone"></i> <a href="tel:+48123456789" class="phone">(+48) 000 000 000</a></li>
                        <li class="contact-us-p"> <a href="mailto:sklep@kontakt.com.pl" class="phone phone-color"><i class="fa-regular fa-address-book burger-icon"></i> sklep@kontakt.com.pl</a></li>
                        <li class="contact-us-p">Jesteśmy do twojej dyspozycji</li>
                        <li class="contact-us-p">od poniedziałku do piątku</li>
                        <li class="contact-us-p">w godzinach 8:00 - 16:00</li>
                    </ul>
                    <hr>
                    <div class="delivery-and-payment">
                        <p class="delivery-and-payment-title">Dsotawa i płatności</p>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-cc-paypal"></i></a>
                    </div>
                    <div class="social-media">
                        <p class="social-media-title">Social media</p>
                        <a  href="https://www.instagram.com/jj99flex" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a  href="https://www.tiktok.com/@jj99flex" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        <a  href="https://www.facebook.com/jj99flex" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>

        </div>
    </div>
</body>
</html>