
    <section class="slider-section " aria-label="Galeria promocyjna">
      <div class="slider single-item-slider comon-margin-sm" role="region" aria-roledescription="carousel" aria-label="Slajdy promocyjne">
        
       
        <article class="slider__item" aria-label="Slajd 1: Nowa kolekcja - natura">
          <img src="https://picsum.photos/800/400?random=1" alt="Widok natury z górami i lasem" class="slider__image">
          
            <h2 class="slider__title">Nowa kolekcja</h2>
            <div class="slider__text">
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis quod optio fugit natus commodi!</p>
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <a href="#" class="slider__btn">Zobacz więcej</a>
        
        </article>

        
        <article class="slider__item" aria-label="Slajd 2: Nowa kolekcja - miasto">
          <img src="https://picsum.photos/800/400?random=2" alt="Nowoczesne budynki w mieście" class="slider__image"loading="lazy">
         
            <h2 class="slider__title">Nowa kolekcja</h2>
            <div class="slider__text">
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis quod optio fugit natus commodi!</p>
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <a href="#" class="slider__btn">Zobacz więcej</a>
          
        </article>

     
        <article class="slider__item" aria-label="Slajd 3: Nowa kolekcja - plaża">
          <img src="https://picsum.photos/800/400?random=3" alt="Plaża z zachodem słońca" class="slider__image"loading="lazy">
    
            <h2 class="slider__title">Nowa kolekcja</h2>
            <div class="slider__text">
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis quod optio fugit natus commodi!</p>
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <a href="#" class="slider__btn">Zobacz więcej</a>
       
        </article>

     
        <article class="slider__item" aria-label="Slajd 4: Nowa kolekcja - wieś">
          <img src="https://picsum.photos/800/400?random=4" alt="Droga przez wiejski krajobraz" class="slider__image"loading="lazy">
         
            <h2 class="slider__title">Nowa kolekcja</h2>
            <div class="slider__text">
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis quod optio fugit natus commodi!</p>
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <a href="#" class="slider__btn">Zobacz więcej</a>
         
        </article>

      </div>
    </section>


 