<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
















































  <div class="multiple-items">
    <div><h3>1</h3></div>
    <div><h3>2</h3></div>
    <div><h3>3</h3></div>
    <div><h3>4</h3></div>
    <div><h3>5</h3></div>
    <div><h3>6</h3></div>
  </div>
  





    <div class="container">
        <div class="row">
            <div class="discount-box">
                <div class="discount-text">
                    <h4 class="discount-main-p">Chcesz otrzymać 5% zniżki na swoje zakupy?</h4>
                    <p class="discount-lower-p">Zapisz się do naszego Newslettera i dowiedz się jako pierwszy o nowościach, </p>
                    <p class="discount-lower-p">promocjach i ofertach specjalnych! </p>
                  </div>
                  
                    <div class="discount-bar-box">
                      <div class="discount-box-2">
                        <p class="error-text"><i class="fa-solid fa-triangle-exclamation"></i> Proszę podać prawidłowy adres e-mail!</p>
                      
                        <div class="discount-bar">
                          <input type="text" placeholder="Twój adres e-mail">
                          <button type="submit">
                            <i class="fa-solid fa-location-arrow"></i>
                          </button>
                        </div>
                      
                        <div class="form-check">
                          <input type="checkbox" id="accept" class="form-check-input">
                          <label for="accept" class="form-check-label">
                            Akceptuję regulamin i politykę prywatności
                          </label>
                        </div>
                      </div>
                    </div>
                    
                      
                      
                
            </div>
        </div>
    </div>
</body>
</html>