<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <section id="nav"aria-label="Główne menu strony ">
    <nav class="navbar navbar-expand-lg">
      <div class="container d-flex justify-content-between align-items-center">

      
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="./img/LOGO.jpg" alt="Logo" class="logo">
          <h5 class="nav-title">Unlimi<span class="nav-title-color">Tech</span></h5>
        </a>

      
        <div class="collapse navbar-collapse only-desktop " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle pulbuty" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                Damskie buty skórzane
              </a>
                
           
              <ul class="dropdown-menu menu" role="menu">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item pulbuty" href="#" aria-label="Półbuty"> <i class="fa-solid fa-shoe-prints"></i>Półbuty</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="losowe zdjęcie">
                  </ul>
                </li>
                <hr class="hrrr">
              
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Jazzówki</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <hr class="hrrr">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Czułenka</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <hr class="hrrr">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Baleriny</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <hr class="hrrr">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Sandały</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <hr class="hrrr">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Klapki</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <hr class="hrrr">
                <li class="li-submenu-desktop">
                  <a class="dropdown-item" href="#" aria-label="Jazzówki"> <i class="fa-solid fa-shoe-prints"></i>Botki</a>
                  <ul class="submenu-desktop">
                    <div class="submenu-desktop-li">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Ziemiaki">Ziemiaki</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <div class="submenu-desktop-li-2">
                      <li><a href="#" aria-label="Sztyblety">Sztyblety</a></li>
                      <li><a href="#" aria-label="Botki płaskie">Botki płaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                      <li><a href="#" aria-label="Botki niełaskie">Botki niełaskie</a></li>
                    </div>
                    <img class="submenu-desktop-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Para eleganckich butów damskich">

                  </ul>
                </li>
                <!-- <hr class="hrrr"> -->
              
             
                              <hr class="hrrr">
                  <li  class="li-submenu-desktop"><a class="dropdown-item " href="#"> <i class="fa-solid fa-shoe-prints"></i>Outlet</a>
                  <hr class="hrrr">
                  <li><a class="dropdown-item" href="#">Pokaż wszystkie</a></li>
                 
                </ul>
              </li>

           
              <li class="nav-item"><a class="nav-link" href="#">Bony podarunkowe</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Nowości</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bestseller</a></li>
            <li class="nav-item"><a class="nav-link nav-link-red" href="#">Wyprzedaż</a></li>
          </ul>

          <div class="d-flex align-items-center">
            <div class="search-bar me-3">
              <input type="text" placeholder="Wyszukaj">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="navbar-icons">
              <a href="#" class="icon"><i class="fa-solid fa-user"></i></a>
              <a href="#" class="icon"><i class="fa-solid fa-heart"></i></a>
              <a href="#" class="icon"><i class="fa-solid fa-bag-shopping"aria-label="Koszyk"></i></a>
            </div>
          </div>
        </div>

       
        <div class="only-mobile d-flex align-items-center ms-auto">
          <div class="navbar-icons me-2">
            <a href="#" class="icon"><i class="fa-solid fa-user"></i></a>
            <a href="#" class="icon"><i class="fa-solid fa-heart"></i></a>
            <a href="#" class="icon"><i class="fa-solid fa-bag-shopping"aria-label="Koszyk"></i></a>
          </div>

         
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"aria-modal="true"aria-labelledby="offcanvasMainTitle">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

      </div>
    </nav>

    
    <div class="mobile-search-bar only-mobile px-3">
      <div class="search-bar w-100">
        <input type="text" placeholder="Wyszukaj">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
 

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"aria-modal="true" aria-labelledby="offcanvasMainTitle">
    <div class="offcanvas-header">
    
      <h5 class="offcanvas-title d-flex align-items-center" id="offcanvasMainTitle"aria-modal="true" aria-labelledby="offcanvasMainTitle">
        <i id="backIcon" class="fa-solid fa-chevron-left me-2" style="display:none; cursor:pointer;"aria-label="Powrót"></i>
        <span class="title-text">Menu</span>
      </h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"aria-modal="true" aria-labelledby="offcanvasMainTitle"></button>
    </div>
  
    <div class="offcanvas-body">
 
      <ul class="navbar-nav mainmenu">
        <li class="nav-item">
          <a class="nav-link submenu-toggle" href="#" data-target="submenu-damskie">
            Damskie buty skórzane <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <hr class="hrr">
        <li class="nav-item"><a class="nav-link" href="#">Bony podarunkowe</a></li>
        <hr class="hrr">
        <li class="nav-item"><a class="nav-link" href="#">Nowości</a></li>
        <hr class="hrr">
        <li class="nav-item"><a class="nav-link" href="#">Bestseller</a></li>
        <hr class="hrr">
        <li class="nav-item"><a class="nav-link nav-link-blue fwb" href="#">% Wyprzedaż %</a></li>
        <hr class="hr">
        <li class="nav-link-li-end fwb">Zaloguj/Zarejestruj</li>
        <hr class="hr">
        <li class="nav-link-li-end fwb">Schowek</li>
        <hr class="hr">
        <li class="nav-link-li-end fwb">Koszyk</li>
        <hr class="hr">
        <div class="burger-menu-contact">
          <p ><i class="fa-solid fa-phone burger-icon"></i> <a href="tel:+48123456789" class="phone phone-color">(+48) 000 000 000</a></p>
          <p >
            <a href="mailto:sklep@kontakt.com.pl" class="phone phone-color"><i class="fa-regular fa-address-book burger-icon"></i> sklep@kontakt.com.pl</a>
          </p>
          <hr class="burger-contact-hr">
          <p >
          <a  href="https://www.instagram.com/" target="_blank"aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a  href="https://www.facebook.com/" target="_blank"aria-label="tiktok"><i class="fa-brands fa-tiktok"></i></a>
          <a  href="https://www.facebook.com/"  target="_blank"aria-label="facebook"><i class="fa-brands fa-facebook-f"></i></a>
          </p>
          
        </div>
      </ul>
  
<div class="submenu" id="submenu-damskie" style="display:none;">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link submenu-toggle " href="#" data-target="submenu-polbuty">
          <i class="fa-solid fa-shoe-prints"></i>  Półbuty <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-jazzowki">
          <i class="fa-solid fa-shoe-prints"></i> Jazzówki 
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-czolenka">
          <i class="fa-solid fa-shoe-prints"></i> Czółenka <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-baleriny">
          <i class="fa-solid fa-shoe-prints"></i> Baleriny <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-sandaly">
          <i class="fa-solid fa-shoe-prints"></i> Sandały <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-klapki">
          <i class="fa-solid fa-shoe-prints"></i> Klapki <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-botki">
          <i class="fa-solid fa-shoe-prints"></i> Botki <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-kozaki">
          <i class="fa-solid fa-shoe-prints"></i> Kozaki <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <hr class="hrr">
      <li>
        <a class="nav-link submenu-toggle" href="#" data-target="submenu-outlet">
          <i class="fa-solid fa-shoe-prints"></i> Outlet
        </a>
      </li>
      <hr class="hrr">
      <p class="burger-show-all">Pokaż wszystkie <i class="fa-solid fa-chevron-right arrow"></i></p>
    </ul>
  </div>
  
  
  <div class="submenu" id="submenu-polbuty" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Codzienne</a></li>
    </ul>
  </div>
  

  <div class="submenu" id="submenu-jazzowki" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  

  <div class="submenu" id="submenu-czolenka" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Czułenka na słupku</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Szpilki</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Czułenka na koturnie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Czułenka bez pięty</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Czułenka na niskim koturnie</a></li>
    </ul>
    <hr class="hrr">
    <p class="burger-show-all">Pokaż wszystkie <i class="fa-solid fa-chevron-right arrow"></i></p>
  </div>
  
 
  <div class="submenu" id="submenu-baleriny" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  

  <div class="submenu" id="submenu-sandaly" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  
  
  <div class="submenu" id="submenu-klapki" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  
  
  <div class="submenu" id="submenu-botki" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  
  
  <div class="submenu" id="submenu-kozaki" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
  
 
  <div class="submenu" id="submenu-outlet" style="display:none;">
    <ul class="navbar-nav">
      <li><a class="nav-link" href="#">Eleganckie</a></li>
      <hr class="hrr">
      <li><a class="nav-link" href="#">Wyjściowe</a></li>
    </ul>
  </div>
        
  </div>
</section>
</body>
</html>