<div class="container">
    <div class="row">
        <div class="cart">
            <div class="cart__box">

            
              

           
              <div class="cart__header">
                <h2 class="cart__title">Twój koszyk</h2>
                <div class="cart__product-amount">(2 sztuki)</div>
                <button class="cart__close" aria-label="Zamknij koszyk">&times;</button>
              </div>

              <hr>

            
              <ul class="cart__list">
                <li class="cart__item">
                  <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=606&q=81" 
                       alt="Sandały" 
                       class="cart__item-image">
                  <div class="cart__item-info">
                    <p class="cart__item-name">Produkt 1</p>
                    <p class="cart__item-price">49,99 zł</p>
                    <button class="cart__item-remove" aria-label="Usuń Produkt 1 z koszyka">
                      <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </li>
                <li class="cart__item">
                  <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=606&q=81" 
                       alt="Sandały" 
                       class="cart__item-image">
                  <div class="cart__item-info">
                    <p class="cart__item-name">Produkt 2</p>
                    <p class="cart__item-price">79,99 zł</p>
                    <button class="cart__item-remove" aria-label="Usuń Produkt 2 z koszyka">
                      <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </li>
              </ul>

           
              <p class="cart__free-delivery">
                <i class="fa-solid fa-gift" aria-hidden="true"></i>
                Do darmowej dostawy brakuje: 
                <span class="cart__free-delivery-span">39,99 zł</span>
              </p>

           
              <div class="cart__progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60">
                <div class="cart__progress-bar"></div>
              </div>

             
              <div class="cart__footer">
                <p class="cart__label">Razem do zapłaty:</p>
                <p class="cart__total">129,98 zł</p>
              </div>

              <button class="cart__checkout">Przejdź do kasy</button>

            </div>
        </div>
    </div>
</div>
