
<div class="container">
  <div class="row">
    <section id="slider-section"aria-label="Polecane produkty – karuzela ">
          <div class="promo-header">
            <h3>
              <span class="promo-item text-primary"style="font-weight: bold;">Promocje</span>
              <span class="promo-item">Bestseller</span>
              <span class="promo-item">Nowości</span>
            </h3>
          </div>
            <div class="multiple-items">
              <div class="slide">
                <img src="https://picsum.photos/300/200?random=6" alt="Slide 1">
                <img class="hover-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="losowe zdjęcie">
                <p class="slide-text">PÓŁBUTY MOKASYNY NA GRUBEJ PODESZWIE</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-bestseler">Bestseller</p>
                <p class="on-slide-nowosc">Nowość</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://picsum.photos/300/200?random=5" alt="Slide 2">
                <img class="hover-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=83" alt="Slide 1 Hover">
                <p class="slide-text">Klapki</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-promocja">Promocja</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=80" alt="Slide 3">
                <img class="hover-img" src="https://picsum.photos/300/200?random=5" alt="Slide 1 Hover">
                <p class="slide-text">Botkiy</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-bestseler">Bestseller</p>
                <p class="on-slide-nowosc">Nowość</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=80" alt="Slide 3">
                <img class="hover-img" src="https://picsum.photos/300/200?random=2" alt="Slide 1 Hover">
                <p class="slide-text">Botkiy</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-promocja">Promocja</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=80" alt="Slide 3">
                <img class="hover-img" src="https://picsum.photos/300/200?random=9" alt="Slide 1 Hover">
                <p class="slide-text">Botkiy</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-promocja">Promocja</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://picsum.photos/300/200?random=1" alt="Slide 3">
                <img class="hover-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Slide 1 Hover">
                <p class="slide-text">Botkiy</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-promocja">Promocja</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
              <div class="slide">
                <img src="https://picsum.photos/300/200?random=7" alt="Slide 3">
                <img class="hover-img" src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=81" alt="Slide 1 Hover">
                <p class="slide-text">Botkiy</p>
                <p class="slide-under-text">Dostępny</p>
                <p class="slide-price">350,10zł</p>
                <p class="on-slide-bestseler">Bestseller</p>
                <p class="on-slide-nowosc">Nowość</p>
                <i class="fa-solid fa-bag-shopping slide-icon"></i>
              </div>
            </div>
          </section>
          
    </div>
</div>